.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}


label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}


#fileName {
    margin-left: 5px;
}


.image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px; /* 이미지와 다른 내용 사이의 간격을 조절합니다. */
}

.image-show {
    /* width: 100%;
    height: 100%; */
    width: 300px;
    height: 420px;
    /* position: absolute; 추가: 절대 위치 설정 */
    /* top: 0;
    left: 0; */
    z-index: -1; /* 이미지를 배경으로 보내어 "Upload File" 라벨을 덮을 수 있게 함 */
    /* width: 7700px;
    height: 420px;
    border-radius: 10px; */
}

#image-show img {
    max-width: 100%; /* 이미지를 상자의 너비에 맞게 조절 */
    max-height: 100%; /* 이미지를 상자의 높이에 맞게 조절 */
}
