#container{
    display: flex; 
    justify-content: center;
    background-color:#FFF5d2;
}

#headname {
    position: relative;
    top:100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Amaranth', sans-serif;
    color:#797978;
}

#boxes {
    display: flex; /* 자식 요소를 가로로 나란히 배치합니다. */
}

#box1{
    width: 300px;
    height: 420px;
    background-color: #ffffff;
    margin-top: 100px;
    border-radius: 10px;
    margin-right: 110px; /* box1과 box2 사이 간격을 조절합니다. */
    display: inline-block;
    box-shadow: 0 8px 10px -3px rgb(190, 189, 189);
    font-size: 20px;
    font-family: 'Amaranth', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#box1 label {
    cursor: pointer;
    font-size: 1em;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



#box2{
    width: 300px;
    height: 420px;
    background-color: #ffffff;
    margin-top: 100px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 8px 10px -3px rgb(190, 189, 189);
    font-size: 20px;
    font-family: 'Amaranth', sans-serif;
}

#button1{
    width:235px;
    height:45px;
    background-color: #ffffff; /* 박스의 배경색을 설정하세요. */
    margin-top: 27px;
    border-radius: 10px;
    margin-left: 35px;
    display:inline-block;
    box-shadow: 0 8px 10px -3px rgb(190, 189, 189);
    background-color:#B0D6F9;
    color:white;
    border:none;
    cursor: pointer;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
}


#button2{
    width:235px;
    height:45px;
    background-color: #ffffff; /* 박스의 배경색을 설정하세요. */
    margin-top: 25px;
    border-radius: 10px;
    margin-left: 170px;
    display:inline-block;
    box-shadow: 0 8px 10px -3px rgb(190, 189, 189);
    background-color:#FED6D4;
    font-size: 20px;
    color:white;
    border:none;
    font-size: 28px;
    font-family: 'Amaranth', sans-serif;
}


label {
    cursor: pointer;
    font-size: 1em;
}

