{% extends "base.html" %}

{% block content %}
<form id="upload-file" action="/img_result" method="POST" enctype="multipart/form-data">
    <div>
        <h2 id="headname">You look like...</h2>
        <div id="boxes">
            <div id="box1">

                <form id="upload-file" method="post" enctype="multipart/form-data" action="/img_result">
                    <label for="chooseFile" style="color:#B0D6F9"> --Upload Image-- </label>
                    <div class="fileContainer">
                    </div>
                    <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                    <div class="image-show" id="image-show"></div>
                </form>
            </div>
            <div id="box2" id="resembleFile" name="resembleFile"></div>
        </div>
        <div>
            <input id="button1" type="submit"></input>
            <div id="kakaotalk-sharing-btn" onclick="shareMessage()"><img id="kakao-img" src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_small.png" alt="카카오톡 공유 보내기 버튼"> Share your result</div>
        </div>
    </div>
</form>

{% endblock %}